- if band
  - band.images.each do |img|
    %a.thumbnail{ href: img.upload.url }
      = image_tag img.upload.url(:thumb)
  - if band.songs.present?
    %table.table
      %thead
        %tr
          %td 
            %b Playable sample songs
      - band.songs.each do |song|
        %tr
          %td
            %div
              = song
            %audio{ controls: true }
              %source{ src: song.upload.url, type: song.upload.content_type }
- else
  .alert.warning 
    = 'There is no information about this band'
