- shows_by_genres.each do |genre, shows|
  - next if shows.empty?
  %table.table.pull-left{ style: 'width: 350px;'}
    %thead
      %tr
        %th=genre
    - shows.each do |show|
      %tr
        %td
          = show.humanized_time
          = link_to show.band.name, show.band
          at
          = link_to show.venue.name, show.venue
          - if show.band.primary_song
            %audio{ controls: 'true' }
              %source{ src: show.band.primary_song.upload.url }
          - else
            -
