%h2 Upcoming shows
= render partial: 'upcoming_shows',  locals: { upcoming_shows: @upcoming_shows }
%h2 Shows by Genres
= render partial: 'shows_by_genres', locals: { shows_by_genres: @shows_by_genres }
.clearfix
%h2 Popular shows

