%h2 Upload an image
= render partial: 'shared/media_uploader', locals: { media_type: 'images', object: @venue }
%h2 Upload a video
= render partial: 'shared/media_uploader', locals: { media_type: 'videos', object: @venue }
%h2 Uplaod a menu
= render partial: 'shared/media_uploader', locals: { media_type: 'menu', object: @venue }
= link_to 'Done', @venue, method: :put
