%h2 Upload an image
= render partial: 'shared/media_uploader', locals: { media_type: 'images', object: @band }
%h2 Upload a song
= render partial: 'shared/media_uploader', locals: { media_type: 'songs', object: @band }
= link_to 'Done', @band, method: :put